/*-------------------------
    上映スケジュール
-------------------------*/

.wrapper {
    margin: auto;
    max-width: 88%;
}

/* 一覧画面 */

.select_day {
    margin-bottom: 20px;
}

/* 鑑賞提案とリアクション */


td.fc-sat {
    background-color: #eaf4ff;
}
td.fc-sun {
    background-color: #ffeaea;
}

.reaction_area {
    margin-left: 150px;
    margin-bottom: 40px;
}

.reaction_list {
    margin: 80px 30px;
}
